.items-container {
	padding: 1.3rem;
	background-color: rgb(10, 10, 10);
	color: white;
	display: flex;
	align-items: center;
	width: 100%;
	gap: 2rem;
	border-radius: 8px;
	margin-bottom: 2rem;
}

.icon {
	font-size: 30px;
	background-color: rgb(65, 65, 65);
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
