video {
	object-fit: cover;
	background-size: cover;
	position: fixed;
	z-index: -1;
	top: 0;
	background-attachment: fixed;
}

.category-main-container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
	object-fit: contain;
}

.content-video-section {
	padding-top: 80px;
}

.category-main-container h1 {
	font-size: 60px;
	color: white;
	text-shadow: 0.05em 0.05em 0.07em black;
}

h1 {
	text-shadow: 0.05em 0.05em 0.07em black;
}

.-main-container p {
	text-align: center;
	color: #fff;
	bottom: 100px;
}

.head-title {
	margin-bottom: 40px;
	text-align: center;
}

/* Main section */

.main-section {
	bottom: 100px;
	margin: 0 auto;
	margin-top: 2rem;
	width: 80vw;
	height: 550px;
	max-width: 1400px;
	text-align: center;
	position: relative;
	display: flex;
	overflow: hidden;
}

.movie-img {
	height: 100%;
	width: 80%;
	cursor: pointer;
	object-fit: cover;
	filter: grayscale(0.3);
}

.prev,
.next {
	position: absolute;
	transform: translateY(-50%);
	width: 3.25rem;
	height: 85px;
	display: grid;
	justify-content: center;
	align-items: center;
	place-items: center;
	border-color: transparent;
	cursor: pointer;
	background-color: gray;
	color: #fff;
	font-size: 80px;
	justify-content: center;
	opacity: 0.3;
	top: 50%;
	border-radius: 20px;
}

.prev:hover,
.next:hover {
	background-color: rgb(184, 112, 30);
	opacity: 0.9;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}

article {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.8s linear;
}

article h2 {
	color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
	opacity: 1;
	transition: transform 0.3s, opacity 0.3s;
	transform: translateX(-50%) translateY(-250px);
	font-size: 54px;
	text-shadow: 0.1em 0.1em 0.2em black;
}

article.activeSlide {
	opacity: 1;
	transform: translateX(0);
}

article.lastSlide {
	transform: translateX(-100%);
}

article.nextSlide {
	transform: translateX(100%);
}

@media screen and (max-width: 1100px) {
	.category-main-container {
		height: 90vh;
	}

	.main-section {
		height: 450px;
		width: 900px;
	}

	.movie-img {
		margin: 0 auto;
		height: 450px;
		min-width: 700px;
	}

	.prev,
	.next {
		position: absolute;
		top: 45%;
		width: 3.25rem;
		height: 90px;
	}

	article h2 {
		transform: translateX(-50%) translateY(-250px);
	}
}

@media screen and (max-width: 951px) {
	.category-main-container {
		height: 90vh;
		overflow: hidden;
	}

	.main-section {
		width: 700px;
		height: 450px;
	}

	.category-main-container h1 {
		font-size: 45px;
	}

	article h2 {
		font-size: 35px;
	}

	.movie-img {
		margin: 0 auto;
		height: 400px;
		width: 600px;
	}

	.prev,
	.next {
		display: none;
		position: absolute;
		top: 200px;
		width: 2.55rem;
		height: 400px;
	}

	article h2 {
		transform: translateX(-50%) translateY(-160px);
	}
}

@media screen and (max-width: 700px) {
	.category-main-container h1 {
		font-size: 35px;
	}
}

@media screen and (max-width: 700px) {
	.category-main-container h1 {
		padding-top: 120px;
	}
}
